<div class="">
<div class="col-xs-6 table-responsive">
    <table class="table table-striped">
        <tr>
            <th class="text-center" colspan="2">Project Leaderboard</th>
        </tr>
        <tr>
            <th>User</th>
            <th class="text-center">Score</th>
        </tr>
        <tr>
            <td class="text-left">{{(leaderboard[0]?.user | async)?.email}}</td>
            <td class="text-center">{{leaderboard[0]?.points}}</td>
        </tr>
        <tr>
            <td class="text-left">{{(leaderboard[1]?.user | async)?.email}}</td>
            <td class="text-center">{{leaderboard[1]?.points}}</td>
        </tr>
        <tr>
            <td class="text-left">{{(leaderboard[2]?.user | async)?.email}}</td>
            <td class="text-center">{{leaderboard[2]?.points}}</td>
        </tr>
    </table>
</div>
</div>