.kanban-columns,
.kanban-headers {
  display: flex;
}

.kanban-column,
.kanban-column-header {
  padding: 10px;
  flex-basis: 100%;
}

.kanban-column-header {
  text-align: center;
}

.kanban-column {
  margin: 10px;
}

.kanban-column .task {
  cursor: move;
}
