<div class='kanban-headers'>
  <div *ngFor='let status of statuses' class='kanban-column-header'>
    <h2>{{status.name}}</h2>
  </div>
</div>
<div class='kanban-columns'>
  <div *ngFor='let status of statuses' id='{{status.name}}' class='kanban-column well'
       [dragula]='"taskStatusBags"' [dragulaModel]='status.tasks'>
    <div *ngFor="let task of status.tasks" id='{{task.$key}}' class='panel panel-primary task' >
      <div class='panel-heading'>
        <h3 class='panel-title'>
          <a routerLink='../{{task.$key}}'>{{task.title}}</a>
        </h3>
      </div>
      <div class='panel-body'>
        <div class='row'>
          <div class='col-xs-3'>
            <strong>Status:</strong>
          </div>
          <div class='col-xs-9'>
            {{task.taskStatus}}
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-3'>
            <strong>Assignee:</strong>
          </div>
          <div class='col-xs-9'>
            {{task.assignedTo}}
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-3'>
            <strong>Creator:</strong>
          </div>
          <div class='col-xs-9'>
            {{task.owner}}
          </div>
        </div>
        <div class='row'>
          <button class='btn btn-lg btn-link pull-right' (click)='completeTask(task)'>
            <span class='glyphicon glyphicon-ok' aria-hidden='true'></span>
            <span class='badge'>{{task.taskPointValue}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
