<div class="container">
  <div class="row">
    <div class="col-xs-11">
      <h1><a routerLink="./task/list" routerLinkActive="active">{{(currentProject | async)?.title}}</a></h1>
    </div>
    <div class="col-xs-1" *ngIf="(currentProject | async)?.owner == (user | async)?.$key">
      <button type="button" class="btn btn-lg btn-link pull-right" routerLink="./settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <p>Current Level: {{(currentProject | async)?.currentLevel}}</p>
    </div>
    <div class="col-xs-3">
      <p>Experience this level: {{(currentProject | async)?.currentPoints}} / {{(currentProject | async)?.pointInterval}}</p>
    </div>
    <div class="col-xs-6 table-responsive">
      <table class="table table-striped">
          <tr>
            <th class="text-center" colspan="2">Project Leaderboard</th>
          </tr>
          <tr>
            <th>User</th>
            <th class="text-center">Score</th>
          </tr>
        <div *ngFor="let leader of leaderboard">
          <tr>
            <td class="text-left" id="leaderUser">{{(leader.user | async)?.email}}</td>
            <td class="text-center" id="leaderPoint">{{leader.points}}</td>
          </tr>
        </div>
      </table>
    </div>
  </div>

  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>