<div class="container">
  <div class="row">
    <div class="col-xs-11">
      <h1><a routerLink="./task/list" routerLinkActive="active">{{(currentProject | async)?.title}}</a></h1>
    </div>
    <div class="col-xs-1" *ngIf="(currentProject | async)?.owner == (user | async)?.$key">
      <button type="button" class="btn btn-lg btn-link pull-right" routerLink="./settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <p>Project Level: {{(currentProject | async)?.currentLevel}}</p>
    </div>
    <div class="col-xs-3">
      <p>Project Experience: {{(currentProject | async)?.currentPoints}} / {{(currentProject | async)?.pointInterval}}</p>
    </div>
    <div class="col-xs-6">
      <p>Your Project Points: {{(userPoints | async)?.projectPoints}}</p>
    </div>
  </div>

  <div class="row">
    <app-leaderboard></app-leaderboard>
  </div>

  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>