<div class="container">
<button class="btn btn-default" (click)="navToTasks()">Back To Task List</button>
<h1>Settings</h1>
    <div class="jumbotron">
        <div class="row" id="row1">
            <div class="col-xs-2 settings-descriptor">Experience Per Level:</div>
            <div class="col-xs-1">{{(currentProject | async)?.pointInterval}}</div>
            <div class="col-xs-2 settings-descriptor">New Point Interval:</div>
            <div class="col-xs-1"><input class="numInput" type="text" required [(ngModel)]="updatedProjectInterval" (keyup.enter)="updateProjectInterval()"></div>
            <div class="col-xs-2"><button class="btn btn-info" (click)="updateProjectInterval()">Update</button></div>
        </div>

        <div class="row" id="row2">
            <div class="col-xs-2 settings-descriptor">Current Experience:</div>
            <div class="col-xs-1">{{(currentProject | async)?.currentPoints}}</div>
            <div class="col-xs-2 settings-descriptor">New Experience Points:</div>
            <div class="col-xs-1"><input class="numInput" type="text" required [(ngModel)]="updatedCurrentPoints" (keyup.enter)="updateCurrentPoints()" /></div>
            <div class="col-xs-2"><button class="btn btn-info" (click)="updateCurrentPoints()">Update</button></div>
        </div>

        <div class="row" id="row3">
            <div class="col-xs-2 settings-descriptor">Current Project Level:</div>
            <div class="col-xs-1">{{(currentProject | async)?.currentLevel}}</div>
            <div class="col-xs-2 settings-descriptor">New Level:</div>
            <div class="col-xs-1"><input class="numInput" type="text" required [(ngModel)]="updatedLevel" (keyup.enter)="updateCurrentLevel()" /></div>
            <div class="col-xs-2"><button class="btn btn-info" (click)="updateCurrentLevel()">Update</button></div>
        </div>

        <h2>Project Members</h2>
        <div class="row">
            <div class="col-xs-8">
                <label>Add New Member:
                    <input type="text" required [(ngModel)]="newMember" (keyup.enter)="addMember()"/>
                    <button class="btn btn-info" (click)="addMember()">Add Member</button>
                </label>
            </div>
        </div>
        <div class="list-group">
            <div class="list-group-item col-md-3" *ngFor="let member of projMembers$ | async">
                <div class="btn-group" role="group" aria-label="...">
                    <button class="btn btn-default">{{member.$value}}</button>
                    <button class="btn btn-danger" (click)="deleteMembers(member)">X</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <button class="btn btn-danger" (click)="deleteProject()">DELETE PROJECT</button>
        </div>
    </div>

</div>
