<h1>Settings</h1>

<div class="jumbotron">
    <div class="table-responsive">
        <table class="table">
            <tr>
                <td>Project Point Interval:</td>
                <td>{{(currentProject | async)?.pointInterval}}</td>
                <td><label>New Point Interval:</label><input type="text" [(ngModel)]="updatedProjectInterval" (keyup.enter)="updateProjectInterval()"></td>
                <td><button class="btn btn-info" (click)="updateProjectInterval()">Update</button></td>
            </tr>
        </table>
    </div>
</div>
<button class="btn btn-danger" (click)="deleteProject()">DELETE PROJECT</button>
