.settings-descriptor {
    margin-right: 0;
    padding-right: 0;
    text-align: right;
}

.numInput {
    width: 75px;
}

#row2 {
    padding-top: 20px;
}

#row3 {
    padding-top: 20px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

.member-button-container {
    padding-bottom: 10px;
}

/* Reset styles so button does not appear with button qualities. */
.member-email:hover,
.member-email:active,
.member-email:focus {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
