<div class="container">
  <div class="row">
    <input type="text" [(ngModel)]="newProject" (keyup.enter)="createProject()">
    <button class="btn btn-default" (click)="createProject()">Create New Project</button>
    <div class="row">
      <div class="jumbotron">
        <h2>Projects</h2>
        <ul>
          <div *ngFor="let project of projects | async">
            <li *ngIf="verifyUser(project.owner)"><button class="btn btn-default" (click)="navToTasks(project.project)">{{project.project}}</button></li>

          </div></ul>
      </div>
    </div>
  </div>
</div>
