<div class="container">
  <div class="row">
    <input type="text" [(ngModel)]="newProject" (keyup.enter)="createProject()">
    <button class="btn btn-default" (click)="createProject()">Create New Project</button>
    <div class="row">
      <div class="jumbotron">
        <h2>Projects</h2>
        <div class="list-group">
          <div class="list-group-item col-md-3" *ngFor="let project of projects | async">
            <div (click)="navToTasks(project)">{{project.title}}</div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
